---
import Layout from "../layouts/Layout.astro"
import Background from "../components/background/background.astro"
---

<Layout title="Tiziano&apos;s portfolio | Contact" header="Let&apos;s work!">

	<!-- Mobile -->
	<form action="" class="flex flex-col items-center w-full lg:w-2/3 gap-5 text-center" slot="mobile-content">
		<h1 class="italic">Send me a message</h1>

		<div class="flex flex-col w-full h-full gap-5">
			<p class=''>"Hey, I have an exciting <b>project/idea</b> that I'd love to <b>bring to life</b> with your expertise. Here are the details:</p>
			<div class="flex items-center justify-center gap-2 w-full">
				<input class="w-11/12 md:w-10/12 self-start text-dark border-light" type="text" placeholder='describe your amazing idea' />."
			</div>
		</div>	

		<div class="flex flex-col h-full justify-center items-center gap-2">
			<button type="submit" class="bg-detail text-white text-li  p-2  -xl w-40">
				Send
			</button>
			<a href="mailto:tzndevv@gmail.com" class="text-lg font-normal">or send me an email.</a>
		</div>
	</form>

	<!-- Desktop -->
	<form action="" class="flex flex-col items-center lg:w-2/3 gap-5 text-center row-start-1 col-start-2 place-self-center">
		<h1 class="italic">Send me a message</h1>

		<div class="flex flex-col w-full h-full gap-5">
			<p class=''>"Hey, I have an exciting <b>project/idea</b> that I'd love to <b>bring to life</b> with your expertise. Here are the details:</p>
			<div class="flex items-center justify-center gap-2 w-full">
				<input class="w-11/12 md:w-10/12 self-start text-dark border-light" type="text" placeholder='describe your amazing idea' />."
			</div>
		</div>	

		<div class="flex flex-col h-full justify-center items-center gap-2">
			<button type="submit" class="bg-detail text-white text-li  p-2  -xl w-40">
				Send
			</button>
			<a href="mailto:tzndevv@gmail.com" class="text-lg font-normal">or send me an email.</a>
		</div>
	</form>


</Layout>

<style>
</style>