---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tiziano&apos;s portfolio | Contact" header="Let&apos;s work!">
	<form action="" class="flex flex-col gap-10 w-full items-center justify-center">
		<h1 class="italic">Send me a message</h1>
		<div class="flex flex-col items-center  w-full md:w-11/12 h-full gap-5">
			<p class='w-full'>"Hey, I have an exciting <b>project/idea</b> that I'd love to <b>bring to life</b> with your expertise. Here are the details:</p>
			<div class="flex items-center w-full gap-2">
				<input class="w-11/12 self-start text-dark border-light" type="text" placeholder='describe your amazing idea' />."
			</div>
			
		</div>		
		<div class="flex flex-col h-full justify-center items-center gap-2">
			<button type="submit" class="bg-detail text-white text-li  p-2  -xl w-40">
				Send
			</button>
			<a href="mailto:tzndevv@gmail.com" class="text-lg font-normal">or send me an email.</a>
		</div>
	</form>
</Layout>

<style>
</style>