---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import natureImg from "../images/image.png";
---

<Layout title="Tiziano&apos;s portfolio" header="Hi everyone!">
	<div class="flex flex-col w-full gap-5">
		<p class='w-full'>
			Hi everyone! my name is <b class="text-detail">Tiziano</b>, I&apos;m a 20 year old 
			<b>developer</b> who's passionate for creating functional good-looking websites!
		</p>
		<p class="w-full">
			I created this portfolio for you to know me and see some of my work!
		</p>
		<div class="w-full md:hidden">
			<p class="w-full mb-5">Theese are my favorite technologies:</p>
			<ul class="flex flex-col w-full gap-2 italic">
				<li>Javascript</li>
				<li>Astro</li>
				<li>HTML</li>
				<li>NextJS</li>
				<li>Tailwind</li>
				<li>NodeJS</li>
				<li>ExpressJS</li>
				<li>CSS</li>
				<li>Mongoose</li>
			</ul>
		</div>
	</div>
</Layout>
