---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import natureImg from "../images/image.png";
import Background from "../components/background/background.astro";

/* 
	TODO:
	SLIDER WORK
	FUTURIST STYLE
*/

---

<Layout title="Tiziano&apos;s portfolio" header="Hi everyone!">
	<div class="flex flex-col self-center gap-5" slot="mobile-content">
		<p>
			Hi everyone! my name is <b class="text-detail">Tiziano</b>, I&apos;m a 20 year old 
			<b>developer</b> who's passionate for creating functional good-looking websites!
		</p>
	</p>
		<p>Please use this menu to navigate across sections.</p>
	</div>

	<div class="flex flex-col self-center gap-5 row-start-1 col-start-2 ">
		<p class='w-full'>
			Hi everyone! my name is <b class="text-detail">Tiziano</b>, I&apos;m a 20 year old 
			<b>developer</b> who's passionate for creating functional good-looking websites!
		</p>
<!-- 		<div class="w-full md:hidden">
			<p class="w-full mb-5">Theese are my favorite technologies:</p>
			<ul class="flex flex-col w-full gap-2 italic">
				<li>Javascript</li>
				<li>Astro</li>
				<li>HTML</li>
				<li>NextJS</li>
				<li>Tailwind</li>
				<li>NodeJS</li>
				<li>ExpressJS</li>
				<li>CSS</li>
				<li>Mongoose</li>
			</ul>
		</div> -->
	</div>
	<div class="flex flex-col self-end justify-self-center row-start-2 col-start-2">
		<p>Please use this menu to navigate across sections.</p>
	</div>

	<div class="relative w-full h-full row-start-2 col-start-1">
		<Background />
	</div>
</Layout>
