---
import Layout from "../layouts/Layout.astro"
import ProjectGrid from "../components/project-grid/ProjectGrid.astro"
import Synergia from "../assets/synergia-desktop.png"
import Donar from "../assets/donar-desktop.png"
import { Image } from "astro:assets"
import Background from "../components/background/background.astro"
---

<Layout title="Tiziano&apos;s portfolio | Projects" header="My work">

	<!-- Mobile -->
	<div class="flex flex-col gap-20" slot="mobile-content">
<!-- 		<ProjectGrid title="Synergia" technologies="NextJS, Tailwind, Mongoose." description="Synergia is an innovative web application designed to connect and enhance collaboration between developers and organizations in the tech industry." link="https://synergia-project.vercel.app/" notes={["Personal project."]}>
			<Image src={Synergia} alt={"Synergia mockup"} />
		</ProjectGrid> -->
		<ProjectGrid title="DonAr" technologies="React, Mongoose." description="Don.Ar is a platform dedicated to connecting generous hearts with causes that really matter." link="https://don-ar.com/" notes={["Graduation work.", "Backend developer."]}>
			<Image src={Donar} alt={"Synergia mockup"} class={"h-full w-full object-contain"}/>
		</ProjectGrid>
	</div>

	<!-- Desktop -->
	<div class="flex flex-col gap-2 col-start-2 place-self-center row-start-2">
		<p class="text-detail text-3xl">Watch next</p>
		<p class="text-detail text-3xl">Watch previous</p>
	</div>

	<div class="flex flex-col gap-20 col-start-2 row-start-1 place-self-center">
<!-- 		<ProjectGrid title="Synergia" technologies="NextJS, Tailwind, Mongoose." description="Synergia is an innovative web application designed to connect and enhance collaboration between developers and organizations in the tech industry." link="https://synergia-project.vercel.app/" notes={["Personal project."]}>
			<Image src={Synergia} alt={"Synergia mockup"} />
		</ProjectGrid> -->
		<ProjectGrid title="DonAr" technologies="React, Mongoose." description="Don.Ar is a platform dedicated to connecting generous hearts with causes that really matter." link="https://don-ar.com/" notes={["Graduation work.", "Backend developer."]}>
			<Image src={Donar} alt={"Synergia mockup"} class={"h-full w-full object-contain"}/>
		</ProjectGrid>
	</div>
</Layout>