---
const url = Astro.url.pathname
import Menu from "../menu/Menu.astro"
---


<nav class="fixed top-0 left-0 flex justify-center items-center w-full h-10 z-40 text-xs">
    <div class="relative w-11/12 h-5/6 rounded-md bg-light">
        <div class="absolute top-0 left-0 h-full w-full z-10 flex items-center justify-center" >
            <Menu />
            
        </div>
    </div>
</footer>