---
const url = Astro.url.pathname
---


<nav class="relative flex justify-center items-start w-full h-full z-50 text-xs">
    <div class="relative w-11/12 h-5/6 ">
        <div class="absolute top-0 left-0 h-full w-full z-10 flex items-center justify-center" >
            <p class="">© Tiziano 2024. All rights reserved.</p>
        </div>
    </div>
</footer>