---
const url = Astro.url.pathname
---


<nav class="relative flex justify-center items-start w-full h-full z-50 text-xs font-normal text-light">
    <div class="relative w-11/12 h-5/6 ">
        <div class="absolute top-0 left-0 flex h-full w-full z-10 md:grid grid-cols-2 items-center justify-center" >
            <h1 class="justify-self-start">Tiziano</h1>
        </div>
    </div>
</footer>