---

import Image from "astro/components/Image.astro"

import aboutIcon from "../../assets/about-icon.svg"
import contactIcon from "../../assets/contact-icon.svg"
import workIcon from "../../assets/work-icon.svg"
import Sidebar from "../sidebar/Sidebar.astro"

const url = Astro.url.pathname
---


<nav class="fixed top-0 left-0 flex justify-center items-start w-full h-10 z-50 text-xs font-normal text-light bg-white">
    <div class="relative w-11/12 h-5/6 border-b-2 border-gray-200">
        <div class="absolute top-0 left-0 flex h-full w-full z-10 md:grid grid-cols-6 items-center px-2 justify-center" >
            <h1 class="text-lg">Tiziano</h1>
            <Sidebar />
        </div>
    </div>
</footer>