
<!-- <div class="hidden md:block absolute top-0 right-0 w-full h-10 text-light z-10 overflow-hidden">
    <div class="flex flex-col items-center justify-center gap-16 h-full w-full text-xs font-bold slide">
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
        <h1>Astro</h1>
    </div>
</div> -->

<div class="hidden md:flex w-full h-10 z-10 overflow-hidden col-span-5">
    <div class="flex items-center justify-center gap-80 h-full w-full text-xs slide">
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
        <h1>Astro</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
        <h1>Astro</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
        <h1>Astro</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
        <h1>Astro</h1>
    </div>
</div>
<!-- <div class="hidden md:block fixed top-0 right-0 w-14 h-full bg-dark text-light" transition:persist>
    <div class="flex flex-col items-center justify-center gap-20 h-full w-full text-sm font-bold slide">
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
        <h1>Astro</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
        <h1>Astro</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>Astro</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>CSS</h1>
        <h1>Mongoose</h1>
    </div>
</div> -->

<style>
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }
    .slide {
        animation: slide 200s linear infinite
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        33.332% {
            transform: translateX(-50%);
        }
        33.333% {
            transform: translateX(0);
        }
        66.665% {
            transform: translateX(-50%);
        }
        66.666% {
            transform: translateX(0);
        }
        99.999% {
            transform: translateX(-50%);
        }
        100% {
            transform:translateX(0);
        }
    }
</style>