---
import Background from "../background/background.astro";
import Menu from "../menu/Menu.astro";
---

<footer class="relative flex justify-center items-end w-full h-full z-50 font-extrabold">
    <div class="relative w-11/12 h-5/6">
        
        <div class="relative hidden lg:grid grid-cols-2 justify-center items-end gap-10 w-full h-full">
            <div class="place-self-start h-full">
                <Menu />
            </div>
            <div class="relative h-full w-full">
                <Background />
            </div>
        </div>
    </div>
</footer>