---

---


<footer class="relative flex justify-center items-end w-full h-full z-50 bg-white text-light">
    <div class="relative w-11/12 h-5/6">
        <div class="absolute top-0 left-0 h-full w-full z-10 grid lg:grid-cols-2 py-5 " >

            <div class="relative hidden lg:flex justify-start items-end gap-10 w-full h-full">
                <h1 class="absolute -bottom-5 -left-10 text-9xl font-light">Tiziano</h1>
            </div>
<!--             <div class="flex gap-2 text-xs justify-self-center self-end">
                <h1>Javascript</h1>
                <h1>HTML</h1>
                <h1>NextJS</h1>
                <h1>Tailwind</h1>
                <h1>NodeJS</h1>
                <h1>ExpressJS</h1>
                <h1>CSS</h1>
                <h1>Mongoose</h1>
                <h1>Astro</h1>
            </div> -->
        </div>
    </div>
</footer>