---
import Background from "../background/background.astro";
import Menu from "../menu/Menu.astro";
---

<footer class="relative flex justify-center items-end w-full h-screen text-light bg-dark z-50">
    <div class="relative w-11/12 h-5/6 grid grid-rows-3 items-center py-5">
        <h1 class="title jusify-self-center self-start row-start-2">Thanks for visiting!</h1>
        <p class="text-xs font-thin self-end row-start-3">© Tiziano 2024. All rights reserved.</p>
    </div>
</footer>

