<footer class="relative flex justify-center items-end w-full h-full z-50">
    <div class="relative w-11/12 h-5/6">
        
        <div class="relative hidden lg:flex justify-start items-end gap-10 w-full h-full">
            <h1 class="absolute -bottom-0 -left-10 text-9xl select-none">Tiziano</h1>
        </div>
    </div>
</footer>