---
interface props {
    href: string,
    text: string,
}

const { href } = Astro.props;
---


<a {href} transition:persist class:list={[
    "relative flex flex-col items-center justify-center text-center h-full w-full ",
]}>
    <div class="flex bg-light justify-center items-center h-full w-full">
        <slot name="icon"/>
    </div>
</a>
