---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/footer/Footer.astro';
import Navbar from '../components/navbar/Navbar.astro';
import Background from '../components/background/background.astro';

interface Props {
	title: string;
	header: string;
}

const { title, header } = Astro.props;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="relative h-screen w-screen text-xl font-light leading-9 lg:text-2xl overflow-hidden">
		<!-- <Background /> -->
		<main class="relative w-full h-full text-dark">
		<Navbar />
		<div class="h-2/3 w-full overflow-y-auto flex justify-center page-content">
			<div class="flex flex-col justify-around items-center gap-14 w-11/12 md:w-3/4 lg:w-2/3 py-20">
				
				<h1 class="text-4xl text-center font-semibold lg:text-6xl w-full">{header}</h1>
				<div class="flex-grow flex flex-col justify-around items-center w-full">
					<slot />
				</div>
			</div>
		</div>
		<Footer />
		</main>
	</body>
</html>


<style is:global>
	/* @import url("../../public/fonts/fira-sans/css/fira-sans.css"); */
	@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Variable.woff') format('woff'),
       url('/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

	body::-webkit-scrollbar {
		display: none;
	}

	body {
		font-family: CabinetGrotesk-Variable;

	}

	mark, ins, b {
		@apply m-1 italic;
	}

	b, ins {
		@apply text-detail;
	}

	mark {
		@apply bg-detail bg-opacity-70 px-2 py-1 m-1 italic;
	}

	input, textarea {
		@apply pb-1 bg-transparent border-b outline-none italic;
	}

	.page-content::-webkit-scrollbar {
		display: none;
	}
	
	
</style>
