
<div class="flex flex-col absolute top-0 left-0 w-full h-full translateX text-light -z-10 text-9xl font-bold leading-3 opacity-15 overflow-hidden">
    <div class="flex items-center justify-center h-full slide-left gap-10">
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
    </div>
    <div class="flex items-center justify-center h-full slide-left gap-10">
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
    </div>
    <div class="flex items-center justify-center h-full slide-left gap-10">
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
        <h1>Design</h1>
        <h1>Functionality</h1>
    </div>
</div>

<style>
    .slide-left {
        animation: slide-left 250s linear infinite
    }

    h1 {
        font-size: 200px;
        letter-spacing: -10px;
    }

    @keyframes slide-left {
        0% {
            transform: translateX(0);
        }
        33.332% {
            transform: translateX(-200%);
        }
        33.333% {
            transform: translateX(0);
        }
        66.665% {
            transform: translateX(-200%);
        }
        66.666% {
            transform: translateX(0);
        }
        99.999% {
            transform: translateX(-200%);
        }
        100% {
            transform:translateX(0);
        }
    }
</style>