
<div class="absolute top-0 left-0 flex flex-col w-full h-full translateX text-light text-opacity-35 bg-transparent -z-10 font-bold tracking-tight text-big md:text-bigger lg:text-extra-big xl:text-giant leading-3 overflow-hidden" transition:persist>
    <div class="flex items-center justify-center h-full slide-left  gap-10 lg:gap-20" transition:persist>
        <h1>HTML</h1>
        <h1>CSS</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>CSS</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>CSS</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>CSS</h1>
        <h1>Javascript</h1>
    </div>
    <div class="flex items-center justify-center h-full slide-left  gap-10 lg:gap-20">
        <h1>Astro</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>Astro</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>Astro</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>Astro</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
    </div>
    <div class="flex items-center justify-center h-full slide-left gap-10 lg:gap-20">
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>Mongoose</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>Mongoose</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>Mongoose</h1>
    </div>
</div>

<style>
    .slide-left {
        animation: slide-left 200s linear infinite
    }

    @media (min-width: 768px) {
        .slide-left {
            animation-duration: 350s;
        }
    }
    @media (min-width: 1024px) {
        .slide-left {
            animation-duration: 550s;
        }
    }

    @keyframes slide-left {
        0% {
            transform: translateX(0);
        }
        33.332% {
            transform: translateX(-150%);
        }
        33.333% {
            transform: translateX(0);
        }
        66.665% {
            transform: translateX(-150%);
        }
        66.666% {
            transform: translateX(0);
        }
        99.999% {
            transform: translateX(-150%);
        }
        100% {
            transform:translateX(0);
        }
    }
</style>