
<div class="flex flex-col absolute top-0 left-0 w-full h-full translateX text-white bg-light -z-10 text-9xl font-bold leading-3 opacity-10 overflow-hidden" transition:persist>
    <div class="flex items-center justify-center h-full slide-left gap-20" transition:persist>
        <h1>HTML</h1>
        <h1>CSS</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>CSS</h1>
        <h1>Javascript</h1>
        <h1>HTML</h1>
        <h1>CSS</h1>
        <h1>Javascript</h1>
    </div>
    <div class="flex items-center justify-center h-full slide-left gap-20">
        <h1>Astro</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>Astro</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
        <h1>Astro</h1>
        <h1>NextJS</h1>
        <h1>Tailwind</h1>
    </div>
    <div class="flex items-center justify-center h-full slide-left gap-20">
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>Mongoose</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>Mongoose</h1>
        <h1>NodeJS</h1>
        <h1>ExpressJS</h1>
        <h1>Mongoose</h1>
    </div>
</div>

<style>
    .slide-left {
        animation: slide-left 500s linear infinite
    }

    h1 {
        font-size: 200px;
        letter-spacing: -10px;
    }

    @keyframes slide-left {
        0% {
            transform: translateX(0);
        }
        33.332% {
            transform: translateX(-200%);
        }
        33.333% {
            transform: translateX(0);
        }
        66.665% {
            transform: translateX(-200%);
        }
        66.666% {
            transform: translateX(0);
        }
        99.999% {
            transform: translateX(-200%);
        }
        100% {
            transform:translateX(0);
        }
    }
</style>